<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CryptoBook.Properties.Settings>
            <setting name="LanguageKey" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="FileOverviewFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TitleBarMyFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TitleBarMyFontColor" serializeAs="String">
                <value>&lt;SolidColorBrush xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"&gt;#FF000000&lt;/SolidColorBrush&gt;</value>
            </setting>
            <setting name="TitleBarMyBackColor" serializeAs="String">
                <value>&lt;SolidColorBrush xmlns="http://schemas.microsoft.com/winfx/2006/xaml/presentation"&gt;#FF808080&lt;/SolidColorBrush&gt;</value>
            </setting>
            <setting name="SideMenuFontSizeHeader" serializeAs="String">
                <value>1.3</value>
            </setting>
            <setting name="SideMenuFontSize" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="SideMenuWidth" serializeAs="String">
                <value>25</value>
            </setting>
        </CryptoBook.Properties.Settings>
    </userSettings>
</configuration>