<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CryptoBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CryptoBook.Properties.Settings>
            <setting name="CultureInfo" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="FileOverviewFirstStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="TitleBarMyFontSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="TitleBarMyBackColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="SideMenuFontSizeHeader" serializeAs="String">
                <value>1.4</value>
            </setting>
            <setting name="SideMenuFontSize" serializeAs="String">
                <value>1.2</value>
            </setting>
            <setting name="SideMenuWidth" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ProgressWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgressWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgressWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProgressWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyMessageLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MyMessageTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentTheme" serializeAs="String">
                <value>SystemTheme</value>
            </setting>
            <setting name="FontSizeDefault" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="BookmarksEditor_Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BookmarksEditor_Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BookmarksEditor_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BookmarksEditor_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BookmarksEditor_State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="AgentId" serializeAs="String">
                <value>d3a739ec-2d39-40b2-a3ef-c92c372fd016</value>
            </setting>
            <setting name="WindowHeight_FileExplorer" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="WindowWidth_FileExplorer" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowLeft_FileExplorer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WindowTop_FileExplorer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RightColumnPercent_FileExplorer" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="LeftColumnPercent_FileExplorer" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="IsHiddenFilesVisible_FileExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridViewColumnRatios" serializeAs="String">
                <value />
            </setting>
        </CryptoBook.Properties.Settings>
    </userSettings>
</configuration>